/*********
Nav Bar Styling
***/

nav {
  background-color: pink;

}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  color: blue;
  background-color: pink;
  text-decoration: none;
}

a:hover {
  color: pink;
}

li a:hover {
  background-color: blue;
}

li a:active {
  padding: 0 5px;
}

/************
Sticky Header Layout
******/
body {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  visibility: hidden;
  margin-bottom: 20px;
}
